<div
    class="overflow-auto top-0 left-0 right-0 bottom-0 fixed bg-black bg-opacity-50 flex justify-center items-center transition-all"
    (click)="decline()">
    <div
        (click)="$event.stopPropagation()"
        class="dark:bg-neutral-800 bg-white justify-center items-center font-sans rounded-lg sm:p-8 p-1 w-full md:h-fit h-full transition-all md:w-1/3">
        <div class="flex flex-col w-full justify-between items-center gap-4 p-4">
            <!-- Header -->
            <div class="flex justify-between w-full">
                <h3 class="font-bold text-lg">{{ title }}</h3>
                <button
                    (click)="decline()"
                    class="dark:text-white text-black close-modal">
                    X
                </button>
            </div>

            <!-- Content -->
            <div class="flex flex-col w-full gap-4">
                <p class="text-center">{{ message }}</p>
            </div>

            <!-- Actions -->
            <div class="flex w-full mt-8 justify-evenly">
                <button
                    (click)="decline()"
                    class="font-sans text-black border-2 dark:text-white text-lg dark:border-white border-dark rounded-lg px-4 py-2 hover:scale-105 transition-all">
                    Cancel
                </button>
                <button
                    (click)="confirm()"
                    class="font-sans text-lg dark:text-black text-white dark:bg-white bg-neutral-600 rounded-lg px-4 py-2 hover:scale-105 transition-all">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

