<div>
    <label
        *ngIf="
            type === 'password' &&
            !isConfirmPassword &&
            inputValue.length &&
            inputValue.length < 8
        "
        class="block animate-pulse mb-2 text-sm font-sans text-left font-bold text-red-700 dark:text-red-500">
        {{"Password must be at least 8 characters long"|translate}}
    </label>
    <label
        *ngIf="
            type === 'email' &&
            inputValue.length &&
            !inputValue.match(emailRegex)
        "
        class="block animate-pulse mb-2 text-sm font-sans text-left font-bold text-red-700 dark:text-red-500">
        {{"Please enter a valid email address"|translate}}

    </label>
    <label
        *ngIf="
            type === 'password' && !validConfirmPassword && inputValue.length
        "
        class="block animate-pulse mb-2 text-sm font-sans text-left font-bold text-red-700 dark:text-red-500">
        {{"Passwords do not match"|translate}}
    </label>
    <input
        (input)="onInput($event)"
        [id]="
            type === 'password'
                ? isConfirmPassword
                    ? 'confirm-password-input'
                    : 'password'
                : 'email'
        "
        [placeholder]="placeholder"
        [type]="type"
        class="w-full p-2 mb-4 font-sans rounded-xl bg-transparent border-2 dark:border-background-100 border-black focus:outline-none dark:focus:border-white focus:border-black text-center focus:placeholder:opacity-40"
        required />
</div>
