<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="title">
    <h1>Moodie says Hi!</h1>
    <h2 id="titleTextReg">Sign up and let’s start</h2>
  </div>
  <div class="box">
    <form class="example-form">

      <input type="email" placeholder="Email" #userEmail required>
      <input type="password" placeholder="Password" #userPwd required>
      <input type="password" placeholder="Confirm Password" #userPassword required>

    </form>
    <div class="btn-div">
      <button type="button" class="btn-reg" (click)="router.GoToComponent('login')">I have an account</button>
      <button type="button" class="btn-reg" (click)="authService.SignUp(userEmail.value, userPwd.value)">Register</button>
    </div>
   
  </div>
</div>