<!-- Div using tailwind thats 100% width and height of the screen -->

<div class="w-screen h-screen flex items-center justify-center p-5 select-none">
  <div class="max-w-lg flex flex-col place-content-center text-center gap-10">
    <div class="cursor-pointer" routerLink="/">
      <h1 class="text-4xl sm:text-7xl font-bold mb-4 transition-all">
        Moodie <em>says</em> hi!
      </h1>
      <p class="text-s font-sans sm:text-2xl mb-4 transition-all">
        Let's reset your password
      </p>
    </div>

    <div>
      <app-input placeholder="Email" type="email" />

      <div class="flex flex-col gap-4">
        <div class="flex gap-4">
          <button
            class="w-1/2 p-2 font-sans rounded-xl bg-transparent border-background-100 border-2 text-white hover:bg-background-100 transition-all"
            routerLink="/auth/login">
            Go back
          </button>
          <button
            class="w-1/2 p-2 font-sans rounded-xl bg-background-200 text-white hover:bg-background-100 transition-all">
            Reset
          </button>
        </div>

        <button
          *ngIf="isDevelopment"
          class="w-full p-2 gap-2 flex items-center justify-center font-sans rounded-xl bg-gray-300 border-background-100 border-2 text-black hover:bg-gray-100 transition-all"
          routerLink="/dashboard">
          <fa-icon [icon]="codeIcon" /> Go to the dashboard
        </button>
      </div>
    </div>
  </div>
</div>
