<div class="w-full flex flex-col items-center justify-center gap-8 h-fit p-16">
  <div class="h-32 w-full md:w-32 flex gap-8 justify-center align-middle p-4">
    <div
      *ngFor="let icon of icons.reverse()"
      (click)="select(icon.value)"
      class="flex flex-col text-center gap-2 transition-all justify-center align-middle cursor-pointer">
      <fa-icon
        [icon]="icon.icon"
        [title]="icon.name"
        class="text-5xl sm:text-7xl transition-all {{
          this.selected === icon.value && 'text-white'
        }} text-gray-400 hover:text-white" />
      <h2 class="font-sans {{
          this.selected === icon.value && 'font-bold'
        }} sm:text-xl text-xs text-gray-300">
        {{ icon.name }}
      </h2>
    </div>
  </div>
  <button
    class="font-sans text-lg text-black bg-white rounded-lg px-4 py-2 hover:scale-105 transition-all">
    That's it, save.
  </button>
</div>
