<div class="mood-wrapper" fxLayout="column" >
  <div>
    <button class="LogOut" (click)="authService.SignOut()">Log out</button>
  </div>
  <div class="title">
    <h1>How are you?</h1>
    <h2 id="titleTextLog">Just click on a mood.</h2>
  </div>
  <div class="box">
    <div id="mood-div" *ngIf="showMe">
      <div class="mood">
        <img src="assets/images/angry.png" alt="angry" >
        <h3>Angry</h3>
      </div>
      <div class="mood">
        <img src="assets/images/sad.png" alt="sad" >
        <h3>Sad</h3>
      </div>
      <div class="mood">
        <img src="assets/images/neutral.png" alt="neutral" >
        <h3>Neutral</h3>
      </div>
      <div class="mood">
        <img src="assets/images/happy.png" alt="happy" >
        <h3>Happy</h3>
      </div>
      <div class="mood">
        <img src="assets/images/love.png" alt="love" >
        <h3>Love</h3>
      </div>
    </div>
    
  </div>
  <div class="underText" >
    <!-- Potrebno implementirati slajder na klik trenutno samo sakrije mood-div-->
    <h3 (click)="hideDiv()">Too simple? Give me a more fine grained input.</h3>
  </div>
</div>