<div class="mx-auto">
    <h2 class="w-full text-center font-sans text-2xl pt-4 pb-4 select-none ">Weekly Trend</h2>
    
    <div class="float-left w-1/4 text-right p-4"  >
        <ul class="text-gray-300">
            <li>Great</li>
            <li>Good</li>
            <li>Okay</li>
            <li>Bad</li>
            <li>Awful</li>          
        </ul>
    </div>
    <div class="w-1/2" style="margin-left: 25%;">
        <div class="border border-gray-300 rounded-md p-2">
            <div class="flex items-end justify-between">
                <div class="h-20 w-1/7 bg-blue-500 rounded-full mr-1">good</div>
                <div class="h-24 w-1/7 bg-red-500 rounded-full mr-1">good</div>
                <div class="h-16 w-1/7 bg-green-500 rounded-full mr-1">good</div>
                <div class="h-32 w-1/7 bg-purple-500 rounded-full mr-1">good</div>
                <div class="h-28 w-1/7 bg-yellow-500 rounded-full mr-1">good</div>
                <div class="h-20 w-1/7 bg-indigo-500 rounded-full mr-1">good</div>
                <div class="h-16 w-1/7 bg-pink-500 rounded-full mr-1">good</div>
            </div>
        </div>
        <div class="text-gray-300 flex items-center justify-between mb-2">
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
            <span>Sun</span>
        </div>
    </div>
</div>

