<div class="mx-auto w-screen h-full flex flex-col justify-center items-center">
  <h2 class="w-full text-center font-sans text-2xl pt-4 pb-4 select-none">
    Weekly Trend
  </h2>

  <div class="flex w-full justify-center items-start">
    <div class="md:block hidden">
      <ul class="text-gray-300 font-sans w-16 gap-2 flex flex-col">
        <li>Great</li>
        <li>Good</li>
        <li>Okay</li>
        <li>Bad</li>
        <li>Awful</li>
      </ul>
    </div>

    <div class="w-full md:w-2/3 md:mr-16">
      <div class="md:border border-gray-300 rounded-xl p-4 md:p-2">
        <div
          class="flex items-end gap-8 p-2 justify-between items-end font-sans">
          <div class="h-20 w-full text-center p-1 bg-blue-500 rounded-xl">
            3
          </div>
          <div class="h-24 w-full text-center p-1 bg-red-500 rounded-xl">
            3.5
          </div>
          <div class="h-16 w-full text-center p-1 bg-green-500 rounded-xl">
            2
          </div>
          <div class="h-32 w-full text-center p-1 bg-purple-500 rounded-xl">
            5
          </div>
          <div class="h-28 w-full text-center p-1 bg-yellow-500 rounded-xl">
            4.5
          </div>
          <div class="h-20 w-full text-center p-1 bg-indigo-500 rounded-xl">
            3.5
          </div>
          <div class="h-16 w-full text-center p-1 bg-pink-500 rounded-xl">
            3
          </div>
        </div>
      </div>

      <div
        class="text-gray-300 flex font-sans md:pt-4 items-center justify-between">
        <span class="text-center w-full">Mon</span>
        <span class="text-center w-full">Tue</span>
        <span class="text-center w-full">Wed</span>
        <span class="text-center w-full">Thu</span>
        <span class="text-center w-full">Fri</span>
        <span class="text-center w-full">Sat</span>
        <span class="text-center w-full">Sun</span>
      </div>
    </div>
  </div>
</div>
