<div class="mx-auto w-screen h-full flex flex-col justify-center items-center">
    <h2 class="w-full text-center font-sans text-2xl pt-4 pb-4 select-none">
        {{ 'Weekly Trend' | translate }}
    </h2>

    <div class="flex w-full justify-center items-start">
        <div class="md:block hidden">
            <ul
                class="dark:text-neutral-300 text-neutral-700 font-sans w-16 gap-2 flex flex-col">
                <li>{{ 'Great' | translate }}</li>
                <li>{{ 'Good' | translate }}</li>
                <li>{{ 'Okay' | translate }}</li>
                <li>{{ 'Bad' | translate }}</li>
                <li>{{ 'Awful' | translate }}</li>
            </ul>
        </div>

        <div class="w-full md:w-2/3 md:mr-16">
            <div
                class="md:border dark:border-neutral-300 border-neutral-700 rounded-xl p-2">
                <div
                    class="flex h-32 items-end md:gap-6 p-2 justify-between font-sans">
                    <div
                        *ngFor="let stat of statData"
                        [style.height.%]="stat.averageMood * 20"
                        [ngClass]="{
                            'bg-blue-500': stat.dayOfWeek === 'Mon',
                            'bg-red-500': stat.dayOfWeek === 'Tue',
                            'bg-green-500': stat.dayOfWeek === 'Wed',
                            'bg-purple-500': stat.dayOfWeek === 'Thu',
                            'bg-yellow-500': stat.dayOfWeek === 'Fri',
                            'bg-indigo-500': stat.dayOfWeek === 'Sat',
                            'bg-pink-500': stat.dayOfWeek === 'Sun'
                        }"
                        class="h-24 w-20 md:w-full text-center p-1 rounded-xl md:hover:w-[1000px] transition-all">
                        {{ stat.averageMood}}
                    </div>
                </div>
            </div>

            <div
                class="dark:text-neutral-300 text-neutral-700 flex font-sans md:pt-4 items-center justify-between">
                <span *ngFor="let stat of statData" class="text-center w-full">
                    {{ stat.dayOfWeek  | translate }}
                </span>
            </div>
        </div>
    </div>
</div>
