<div class="w-screen h-screen flex flex-col items-center justify-evenly p-5 select-none gap-10">
  <h1 class="text-4xl sm:text-8xl font-bold mb-4 transition-all text-center"><em>Hi there!</em> I’m Moodie</h1>
  <div class="w-1/2 flex gap-5 text-3xl sm:text-5xl justify-evenly">
    <a class="transition-all text-gray-200 hover:text-white" href="/about">What?</a>
    <a class="transition-all text-gray-200 hover:text-white" href="/login">Let's go</a>
  </div>
  <p class="font-sans text-gray-300">
    Moodie is brought to you by <span class="text-white">Kenan</span> and <span class="text-white">Omar</span>
  </p>
</div>
