<!-- Modal -->

<div
    class="overflow-auto top-0 left-0 right-0 bottom-0 fixed bg-black bg-opacity-50 flex justify-center items-center transition-all"
    (click)="CloseModal()">
    <div
        (click)="$event.stopPropagation()"
        class="dark:bg-neutral-800 bg-white justify-center items-center font-sans rounded-lg sm:p-8 p-1 w-full md:h-fit h-full transition-all md:w-1/2">
        <div 
            class=" flex flex-col w-full h-full justify-between items-center gap-4 p-4">
            <div class="flex justify-between w-full">
                <h3 class="font-bold text-lg">Want to add anything else?</h3>
                <button
                    (click)="CloseModal()"
                    class="dark:text-white text-black close-modal">
                    X
                </button>
            </div>
            <div
                class="flex flex-col w-full gap-4 md:h-fit h-full justify-center">
                <div class="flex justify-between w-full items-center">
                    Your mood value is: {{ mood }}
                </div>
              <div class="flex justify-between w-full items-center">
                    <input [(ngModel)]="title" #titleInput
                      class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2"
                      placeholder="Maybe a title?">
              </div>
              <div class="flex justify-between w-full items-center">
                  <textarea [(ngModel)]="description" #descriptionInput
                      class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit max-h-[200px] p-2"
                      placeholder="Maybe a description?"></textarea>
              </div>
              <div class="flex justify-between w-full items-center">
                <!-- <input [(ngModel)]="activity" #activityInput
                       class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2"
                       placeholder="What were you doing?"> -->
                    <!-- <select class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2 items-center">
                        <option class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2 items-center"  value="" disabled selected>Select activity</option>
                        <option *ngFor="let a of activities" class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2 items-center">{{a.name}}</option> 
                        
                    </select> -->
                    <div class="flex flex-wrap border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2 items-center">
                      <div class="border bg-white dark:bg-neutral-700 rounded-lg min-w-[50px] max-w-full min-h-[50px] h-fit m-1  p-2 items-center" *ngFor="let a of activities">{{a.name}}</div>
                      <button (click)="showActivityInput()" class="border bg-white dark:bg-neutral-700 rounded-lg min-w-[50px]  min-h-[50px] p-2 m-1">
                          +
                      </button>
                    </div>
                    
                    </div>
                    <div *ngIf="activityInput" class="flex-row rounded-md justify-between w-full items-center p-2 border">
                       Add activity
                        <input [(ngModel)]="activityTitle" #titleInput
                            class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit  p-2 mt-2"
                            placeholder="Activity title?">
                        <textarea [(ngModel)]="activityDescription" #descriptionInput
                            class="border bg-white dark:bg-neutral-700 rounded-lg w-full min-h-[50px] h-fit max-h-[200px] p-2 mt-2"
                            placeholder="Activity description?"></textarea>
                            <div class="flex justify-between">

                                <button (click)="showActivityInput()"    class="border bg-white dark:bg-neutral-700 rounded-lg  min-h-[50px] p-2 m-1">
                                    Close
                                </button>
                                <button (click)="saveActivity()"    class="border bg-white dark:bg-neutral-700 rounded-lg  min-h-[50px] p-2 m-1">
                                    Save
                                </button>
                            </div>
                    </div>
                    
              <div class="flex flex-col border-2 border-gray-200 dark:border-neutral-500 rounded-xl p-2 justify-start gap-4 w-full items-center">
                <div class="flex justify-between w-full">
                  <h3>Or an image?</h3>
                  <input type="file" id="file" (change)="onImageSelected($event)" accept="image/png, image/jpeg, image/jpg">
                </div>
                <img *ngIf="imageUrl" [src]="imageUrl | safeUrl" alt="Image preview" class="max-h-[200px] w-auto rounded-md"/>

              </div>




              <div class="flex w-full mt-8 justify-evenly">
                    <button
                        class="font-sans text-black border-2 dark:text-white text-lg dark:border-white border-dark rounded-lg px-4 py-2 hover:scale-105 transition-all">
                        Cancel
                    </button>
                    <button (click)="setNotes()"
                        class="font-sans text-lg dark:text-black text-white dark:bg-white bg-gray-600 rounded-lg px-4 py-2 hover:scale-105 transition-all">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
