<div class="mx-auto w-1/2-md mt-20">
    <div class="flex justify-center">
      <div class="mr-20">
        <h2 class="text-2xl text-center font-sans">Best Mood Activities</h2>
        <ul class="mt-2 text-center">
          <li>Activity 1</li>
          <li>Activity 2</li>
          <li>Activity 3</li>
        </ul>
      </div>
      <div class="ml-20">
        <h2 class="text-2xl text-center font-sans">Worst Mood Activities</h2>
        <ul class="mt-2 text-center">
          <li>Activity 4</li>
          <li>Activity 5</li>
          <li>Activity 6</li>
        </ul>
      </div>
    </div>
  </div>
  