<div
    class="mt-16 flex flex-col md:flex-row md:gap-0 gap-4 justify-evenly items-center">
    <div>
        <h2 class="text-2xl md:text-3xl text-center font-sans">
            Best Mood Activities
        </h2>
        <ul class="mt-2 text-center font-sans flex flex-col gap-2">
          <li>Hanging out</li>
            <li>Hiking</li>
            <li>Swimming</li>
        </ul>
    </div>
    <div>
        <h2 class="text-2xl md:text-3xl text-center font-sans">
            Worst Mood Activities
        </h2>
        <ul class="mt-2 text-center font-sans flex flex-col gap-2">
          <li>Programming</li>
          <li>Studying</li>
            <li>Working</li>
        </ul>
    </div>
</div>
