<div
    class="transition-all overflow-y-auto h-fit box-border flex-row text-l md:text-xl font-sans gap-2 md:gap-8 left-0 right-0 top-0 flex align-middle justify-center">
    <app-entry
        [active]="active === 'dashboard'"
        link="/dashboard"
        text="Dashboard" />

    <app-entry [active]="active === 'stats'" link="/stats" text="Stats" />

    <app-entry
        [active]="active === 'calendar'"
        link="/calendar"
        text="Calendar" />

    <app-entry
        [active]="active === 'settings'"
        link="/settings"
        text="Settings" />

        <app-entry
            *ngIf="isDevelopment"
            [active]="active === 'export'"
            link="/export"
            text="Export" />
  <app-entry
    [active]="active === 'goals'"
    link="/goals"
    text="Goals" />
  <app-entry
        *ngIf="isDevelopment"
        [active]="false"
        [icon]="codeIcon"
        link="/"
        text="Home" />


    <app-entry
        *ngIf="isDevelopment"
        [active]="active === 'User'"


        (click)="User()"
        text="User" />

    <app-entry
        *ngIf="isDevelopment"
        [active]="active === 'Logout'"

        (click)="logOut()"
        text="Logout" />

</div>
