<div
  (click)="day.mood && OpenModal()"
  [title]="day.mood ? 'Click to see your mood' : 'No mood recorded'"
  class="flex flex-col p-4 flex-grow justify-evenly items-center h-32 min-w-[8rem] rounded-xl dark:hover:bg-neutral-500 hover:bg-gray-200 cursor-pointer transition-all w-auto">
  <fa-icon [icon]="GetIcon()" class="text-5xl" *ngIf="day.mood" />
  <fa-icon [icon]="icons[0].icon" class="text-5xl opacity-25" *ngIf="!day.mood" />
  <h2 class="font-sans">{{ day.dayOfMonth }} | {{ day.dayName }}</h2>
</div>
