<div
    class="w-screen h-screen flex flex-col items-center justify-evenly p-5 select-none">
    <app-language-switcher></app-language-switcher>
    <div
        class="max-w-5xl flex flex-col items-center justify-evenly text-center gap-10">
        <div class="gap-8 flex-col flex">
            <h1 class="text-4xl sm:text-6xl font-bold mb-4 transition-all">
                {{'What do you mean what?'|translate}}
            </h1>
            <p class="text-s sm:text-2xl mb-4 transition-all font-sans">
                {{'Moodie description'|translate}}
            </p>
        </div>
        <div
            class="w-full flex gap-5 text-2xl sm:text-4xl justify-evenly text-ce">
            <a
                class="transition-all font-serif dark:text-gray-200 text-gray-600 hover:text-black dark:hover:text-white"
                href="/"
                >{{'Go back'|translate}}</a
            >
            <a
                class="transition-all font-serif dark:text-gray-200 text-gray-600 hover:text-black dark:hover:text-white"
                href="/auth"
                >{{"Let's go"|translate}}</a
            >
        </div>
    </div>
    <p class="font-sans dark:text-gray-300 text-gray-600">
        {{'Moodie is brought to you by'|translate}}
        <span class="dark:text-white text-black">Kenan</span> {{'and'|translate}}
        <span class="dark:text-white text-black">Omar</span>
    </p>
</div>
