<div
    class="w-screen h-screen flex flex-col items-center justify-evenly p-5 select-none">
    <div
        class="max-w-5xl flex flex-col items-center justify-evenly text-center gap-10">
        <div class="gap-8 flex-col flex">
            <h1 class="text-4xl sm:text-6xl font-bold mb-4 transition-all">
                What do you mean what?
            </h1>
            <p class="text-s sm:text-2xl mb-4 transition-all font-sans">
                Moodie is an open-source and self-hostable mood tracker with a
                plethora of features that work with and for you. It’s currently
                being developed by 2 software engineering students for a school
                project, but we plan on making it a fully-featured application.
                It’s privacy-oriented, secure, and incredibly easy to use, but
                don’t trust us, just follow me.
            </p>
        </div>
        <div
            class="w-full flex gap-5 text-2xl sm:text-4xl justify-evenly text-ce">
            <a
                class="transition-all font-serif dark:text-gray-200 text-gray-600 hover:text-black dark:hover:text-white"
                href="/"
                >Go back</a
            >
            <a
                class="transition-all font-serif dark:text-gray-200 text-gray-600 hover:text-black dark:hover:text-white"
                href="/auth"
                >Let's go</a
            >
        </div>
    </div>
    <p class="font-sans dark:text-gray-300 text-gray-600">
        Moodie is brought to you by
        <span class="dark:text-white text-black">Kenan</span> and
        <span class="dark:text-white text-black">Omar</span>
    </p>
</div>
