@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    src: url('assets/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('assets/Inter-VariableFont_slnt,wght.ttf');
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
    font-family: 'DM Serif Display', serif;
}
