<div
    class="h-fit gap-4 w-[90vw] max-w-[1000px] border-gray-300 dark:border-gray-400 hover:border-gray-600 dark:hover:border-gray-200 transition-all select-none cursor-normal border p-8 flex flex-col lg:flex-row justify-between items-center rounded-xl">
    <div class="font-sans w-full">
        <h2 class="text-2xl font-bold">{{ settingName || 'Setting' }}</h2>
        <p class="dark:text-gray-300 text-gray-700">
            {{ settingDescription || 'Description' }}
        </p>
    </div>
    <div
        class="flex flex-wrap sm:flex-nowrap w-full justify-around border font-sans rounded-xl border-gray-400 cursor-pointer overflow-hidden">
        <div
            (click)="setter(setting)"
            *ngFor="let setting of settingOptions"
            class="px-4 w-full py-2.5 flex justify-center items-center transition-all {{
                setting === currentValue && 'dark:bg-gray-500 bg-gray-300'
            }} hover:bg-gray-400 hover:text-black border-gray-400">
            {{ setting || 'Option' }}
        </div>
    </div>
</div>
