<div
  class="w-screen h-screen flex flex-col items-center justify-evenly p-5 select-none gap-10">
  <h1 class="text-4xl sm:text-8xl font-bold mb-4 transition-all text-center">
    <em>Hi there!</em> I’m Moodie
  </h1>
  <div class="w-1/2 flex gap-5 text-3xl sm:text-5xl justify-evenly">
    <a class="transition-all text-gray-200 hover:text-white" href="/about"
      >What?</a
    >
    <a class="transition-all text-gray-200 hover:text-white" href="/auth"
      >Let's go</a
    >
  </div>
  <div class="flex flex-col align-middle justify-center text-center">
    <p class="font-sans text-gray-300">
      Moodie is brought to you by <span class="text-white">Kenan</span> and
      <span class="text-white">Omar</span>
    </p>
    <p *ngIf="isDevelopment" class="font-sans text-gray-300">
      Running in
      <span class="text-white">
        <fa-icon [icon]="codeIcon" class="mr-1 ml-1" />Development
      </span>
      mode
    </p>
  </div>
</div>
