<div
    class="overflow-auto top-0 left-0 right-0 bottom-0 fixed bg-black bg-opacity-50 flex justify-center items-center transition-all"
    (click)="closeModal()">
    <div 
        (click)="$event.stopPropagation()"
        class="dark:bg-neutral-800 bg-white justify-center items-center font-sans rounded-lg sm:p-8 p-1 w-full md:h-fit h-full transition-all md:w-1/2">
        <div class=" flex flex-col w-full h-full justify-between items-center gap-4 p-4">
            <h3 class="font-bold text-lg"></h3>
        </div>
    </div>
</div>
