<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="title">
    <h1 >Moodie says Hi!</h1>
    <h2 id="titleTextLog">Please log-in to continue</h2>
  </div>
  <div class="box">
      <form class="example-form">
        <input type="text"   placeholder="Email" #userName required>
        <input type="password"   placeholder="Password" #userPassword required >
        
      </form>
      <div class="btn-div">
        <button (click)=" router.GoToComponent('register')"  class="btn-reg" >I don’t have an account</button>
        <button (click)="authService.SignIn(userName.value, userPassword.value)"  class="btn-log" >Log in</button>
      </div>
      <div class="helper">
        <div class="forgotPassword">
          <span routerLink="/forgot-password">I don’t know my password</span>
        </div>
      </div>
    </div>
  </div>
