<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Email" #userName required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" #userPassword required >
          </mat-form-field>
        </mat-card-content>
        <button (click)="authService.SignIn(userName.value, userPassword.value)" mat-stroked-button color="accent" class="btn-block" >Log in</button>
      </form>
      
    </mat-card>
    <div class="helper">
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
      <div class="redirectToLogin">
        <span class="redirect" routerLink="/register">Don't have an account? Sign Up</span>
      </div>
    </div>
  </div>
